.calculator {
  background-color: #c8c8c8;
  width           : 322px;
  height          : 417px;
  padding         : 20px;
  margin          : 100px auto;
  font-family     : 'Source Code Pro', monospace;
  font-size       : 1.125rem;
  border          : 5px solid #e0e0e0;
  box-shadow      : -1px 1px #e0e0e0, -2px 2px #e0e0e0, -3px 3px #e0e0e0, -4px 4px #e0e0e0, -5px 5px #e0e0e0;

  &_display {
    background-color: white;
    height          : 50px;
    margin          : 0 auto;
    padding         : 20px;
    font-family     : inherit;
    font-size       : inherit;
    line-height     : 0.5rem;
  }

  &_btnArea {
    margin               : 40px 0 auto;
    display              : grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap             : 2px;
    font-family          : inherit;
    font-size            : inherit;
  }

  &_btn {
    height: 50px;
  }
}

#calculator {
  &--CLEAR {
    grid-column: 1/span 2;
  }

  &--EQUAL {
    grid-column: 3/span 2;
  }
}