.calculator {
  background-color: black;
  width           : 322px;
  height          : 417px;
  padding         : 20px;
  margin          : 100px auto;

  &_display {
    background-color: white;
    height          : 50px;
    margin          : 0 auto;
    padding         : 20px;
  }

  &_btnArea {
    margin: 40px 0 auto;
  }

  &_btn {
    width : 23.999%;
    height: 50px;
    margin: 0.5%;
  }
}

#calculator {
  &--CLEAR {
    width: 49%;
  }

  &--0 {
    width: 49%;
  }
}